body {
    margin: auto;
    background-color: aquamarine;
}

nav {
    background-color: rgb(67, 57, 105);
    padding: 5%;
    margin: auto;
    color: aqua;
}

nav a {
    color: red;
}